.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    display: flex;
    flex-direction: column;
    width: 72px;
    margin: 0px, 0px, 6.5px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(254, 69, 69);
   
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-size: 10px;
}